{% extends 'index.html' %} {% block cuerpo %}
<section class="carga">
  <h2 class="pearson-h2">Matriz de Correlaciones</h2>
  <table>
    <tr>
      <td></td>
      {% for index,row in matriz.iterrows %}
      <th>{{index}}</th>
      {% endfor %}
    </tr>
    {% for index,row in matriz.iterrows %}
    <tr>
      <th>{{index}}</th>
      {% for i in row %}
      <td>{{i}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <h3>Gráfico</h3>
  <div><div class="plot">{{ graph|safe }}</div></div>

  <form action="" method="post">
    {% csrf_token %}
    <label for="variable-a">Variable A:</label>
    <select name="variable-a" id="variable-a">
      {% for index,row in matriz.iterrows %} {% if index == var_a %}
      <option value="{{index}}" selected="selected">{{index}}</option>
      {% else %}
      <option value="{{index}}">{{index}}</option>
      {% endif %} {% endfor %}
    </select>
    <label for="variable-b">Variable B:</label>
    <select name="variable-b" id="variable-b">
      <option value="" selected disabled hidden>{{var_b}}</option>
      {% for index,row in matriz.iterrows %} {% if index == var_a %}
      <option value="{{index}}" selected="selected">{{index}}</option>
      {% else %}
      <option value="{{index}}">{{index}}</option>
      {% endif %} {% endfor %}
    </select>
    <input type="submit" value="Graficar" />
  </form>
  <h3>Visualización de correlaciones</h3>
  <div><div class="plot">{{lineal|safe}}</div></div>
</section>

{% endblock cuerpo %}
